@import "./vars-mixins";

.album-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  > .title {
    padding: 1.5rem 0 0 0;
    font-size: 1.5rem;
  }

  > .releaseYear {
    font-size: 1.2rem;
  }

  > .cover {
    @include border();
    max-width: 300px;
    width: 100%;
  }

  > .songs-list {
    margin-bottom: 1.2rem;
  }
}

.songs-list {
  > .songName {
    padding: 0.5rem;
    list-style: none;
    font-size: 1.3rem;
    margin: 5px;
  }

  > .songNumber {
    font-weight: 500;
  }
}

#fearless {
  background-color: #cca763;
  color: $dark;
}

#red {
  background-color: #610000;
}

#nineteen-eighty-nine {
  background-color: #5480a5;
}

#reputation {
  background-color: #060606;
}

#lover {
  background-color: #feb2d3;
  color: $dark;
}

#folklore {
  background-color: #3f3f3f;
}

#evermore {
  background-color: #261216;
}

#midnights,
#midnights-3am {
  background-color: #1c1e34;
}

#midnights-tde {
  background-color: #12122e;
}
